<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.shelly.edu.mapper.TeamSetMapper">

    <resultMap id="BaseResultMap" type="cn.org.shelly.edu.model.pojo.TeamSet">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="classId" column="class_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,class_id,name,
        enabled,gmt_create,gmt_modified,
        is_deleted
    </sql>
</mapper>
