<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.shelly.edu.mapper.TeamTileActionMapper">

    <resultMap id="BaseResultMap" type="cn.org.shelly.edu.model.pojo.TeamTileAction">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="gameId" column="game_id" jdbcType="BIGINT"/>
            <result property="teamId" column="team_id" jdbcType="BIGINT"/>
            <result property="round" column="round" jdbcType="INTEGER"/>
            <result property="phase" column="phase" jdbcType="TINYINT"/>
            <result property="allTiles" column="all_tiles" jdbcType="VARCHAR"/>
            <result property="blindBoxTiles" column="blind_box_tiles" jdbcType="VARCHAR"/>
            <result property="fortressTiles" column="fortress_tiles" jdbcType="VARCHAR"/>
            <result property="goldCenterTiles" column="gold_center_tiles" jdbcType="VARCHAR"/>
            <result property="opportunityTiles" column="opportunity_tiles" jdbcType="VARCHAR"/>
            <result property="originalTileCount" column="original_tile_count" jdbcType="INTEGER"/>
            <result property="settledTileCount" column="settled_tile_count" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtUpdate" column="gmt_update" jdbcType="TIMESTAMP"/>
        <result property="selected" column="selected" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,team_id,
        round,phase,all_tiles,
        blind_box_tiles,fortress_tiles,gold_center_tiles,
        opportunity_tiles,original_tile_count,settled_tile_count,
        gmt_create,gmt_update,selected
    </sql>
</mapper>
